{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Date début</th>
                <th>Durée</th>
                <th>Date fin</th>
                <th>Nombre de participant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.title }}</td>
                <td>{{ reservation.description }}</td>
                <td>{{ reservation.start ? reservation.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.duration }}</td>
                <td>{{ reservation.end ? reservation.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.participant_number }}</td>
                <td>
                    <a href="{{ path('app_admin_reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('app_admin_reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_reservation_new') }}">Create new</a>
{% endblock %}
