{{ form_start(form) }}
{% set fields = ['nom', 'description', 'personnes_max', 'domaine'] %}

{% for field in fields %}
    <div class="form-group">
        {{ form_label(attribute(form, field)) }}
        {{ form_widget(attribute(form, field)) }}
        <div class="form-error">
            {{ form_errors(attribute(form, field)) }}
        </div>
    </div>
{% endfor %}

<button class="btn btn-primary mt-4 btn-sm">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
