{% extends 'base.html.twig' %}

{% block title %}GestionnaireSalle index{% endblock %}

{% block body %}
    <h1>GestionnaireSalle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gestionnaire_salle in gestionnaire_salles %}
            <tr>
                <td>{{ gestionnaire_salle.id }}</td>
                <td>{{ gestionnaire_salle.nom }}</td>
                <td>{{ gestionnaire_salle.prenom }}</td>
                <td>
                    <a href="{{ path('app_gestionnaire_salle_show', {'id': gestionnaire_salle.id}) }}">voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_gestionnaire_salle_edit', {'id': gestionnaire_salle.id}) }}">éditer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_gestionnaire_salle_new') }}">Créer un nouveau gestionnaire de salle</a>
    {% endif %}
{% endblock %}
