{% extends 'base.html.twig' %}

{% block title %}GestionnaireSalle{% endblock %}

{% block body %}
    <h1>GestionnaireSalle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gestionnaire_salle.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ gestionnaire_salle.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ gestionnaire_salle.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gestionnaire_salle_index') }}">retour à la liste</a>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_gestionnaire_salle_edit', {'id': gestionnaire_salle.id}) }}">éditer</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
    {{ include('gestionnaire_salle/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
