{% extends 'base.html.twig' %}

{% block title %}Modification domaine{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modification du domaine</h1>

        {# {{ form_start(form) }}

        <div class="form-group mt-4">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
            <div class="form-error">
                {{ form_errors(form.nom) }}
            </div>
        </div> #}
        {{ include('pages/domaine/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        {{ include('pages/domaine/_delete_form.html.twig') }}
        
        <div class="mt-4">
            <a href="{{ path('app_domaine_index') }}" class="btn btn-light btn-sm mb-4">retour à la liste</a>
        </div>

        
        {# {{ form_end(form) }} #}
    </div>
{% endblock %}
