{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Réservation</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ reservation.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ reservation.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ reservation.description }}</td>
                </tr>
                <tr>
                    <th>Date début</th>
                    <td>{{ reservation.start ? reservation.start|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Durée</th>
                    <td>{{ reservation.duration }}</td>
                </tr>
                <tr>
                    <th>Date fin</th>
                    <td>{{ reservation.end ? reservation.end|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Salle</th>
                    <td>{{ reservation.salle }}</td>
                </tr>
                <tr>
                    <th>Type de réservation</th>
                    <td>{{ reservation.typeReservation }}</td>
                </tr>
                <tr>
                    <th>Gestionnaire de salle</th>
                    <td>{{ reservation.gestionnaireSalle }}</td>
                </tr>
                <tr>
                    <th>Nombre participants</th>
                    <td>{{ reservation.participantNumber }}</td>
                </tr>
                <tr>
                    <th>Couleur fond</th>
                    <td>{{ reservation.backgroundColor }}</td>
                </tr>
                <tr>
                    <th>Couleur bordure</th>
                    <td>{{ reservation.borderColor }}</td>
                </tr>
                <tr>
                    <th>Couleur texte</th>
                    <td>{{ reservation.textColor }}</td>
                </tr>
                <tr>
                    <th>Toute la journée</th>
                    <td>{{ reservation.allDay }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_reservation_index') }}" class="btn btn-light btn-sm">retour à la liste</a>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTIONNAIRESAL') %}
        <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}" class="btn btn-light btn-sm">éditer</a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTIONNAIRESAL') %}
        {{ include('pages/reservation/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
