{% extends 'base.html.twig' %}

{% block title %}Salle index{% endblock %}

{% block body %}
    <h1>Salle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Personnes max</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.id }}</td>
                <td>{{ salle.nom }}</td>
                <td>{{ salle.description }}</td>
                <td>{{ salle.personnesMax }}</td>
                <td>
                    <a href="{{ path('app_salle_show', {'id': salle.id}) }}">voir</a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTIONNAIREDOM') %}
                    <a href="{{ path('app_salle_edit', {'id': salle.id}) }}">éditer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTIONNAIREDOM') %}
    <a href="{{ path('app_salle_new') }}">Créer une nouvelle salle</a>
    {% endif %}
{% endblock %}
